<Layouts.app flash={@flash}>
  <Layouts.container class="prose">
    <header>
      <p class="page_name">Terms</p>
      <h1 class="">
        Service rules
      </h1>
    </header>

    <WikWeb.Components.Content.terms />
  </Layouts.container>
</Layouts.app>
