:root {
  --l: 50%;
  --c: 0.13;
  --h1: 240;
  --h2: 340;
  --h3: 180;
  --h-red: 0;

  --color-primary: oklch(var(--l) var(--c) var(--h1));
  --color-primary-content: oklch(95% 0.1 240);
  --color-secondary: oklch(var(--l) var(--c) var(--h2));
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(var(--l) var(--c) var(--h3));
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error: oklch(var(--l) calc(var(--c) * 1) var(--h-red));
  --color-error-content: oklch(95% calc(var(--c) * 1) var(--h-red));

  /* border radius */
  --radius-selector: 0.5rem;
  --radius-field: 0.3rem;
  --radius-box: 0.3rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 2px;

  /* effects */
  --depth: 1;
  --noise: 1;

  /* colors */
  --beige-100: oklch(0.96 0.01 300);
  --beige-200: oklch(0.88 0.01 300);
  --beige-300: oklch(0.78 0.01 300);
  --beige-400: oklch(0.68 0.01 300);
  --brown-600: oklch(0.35 0.025 60);
  --brown-700: oklch(0.3 0.025 60);
  --brown-800: oklch(0.25 0.025 60);

  --cloud-900: oklch(0.15 0.05 253);
  --cloud-800: oklch(0.2 0.05 253);
  --cloud-600: oklch(0.4 0.05 253);
  --cloud-500: oklch(0.5 0.05 253);
  --cloud-400: oklch(0.6 0.05 253);
  --cloud-300: oklch(0.7 0.05 253);

  --pink-500: oklch(0.5 0.15 0);
  --red-500: oklch(0.5 0.15 20);
  --red-muted-500: oklch(0.5 0.08 20);
  --orange-500: oklch(0.5 0.15 60);
  --green-500: oklch(0.5 0.15 160);
  --blue-500: oklch(0.5 0.15 250);
  --magenta-500: oklch(0.5 0.15 320);

  --bg-dark: var(--beige-300);
  --bg-dark2: var(--beige-400);
  --bg-dark3: var(--brown-600);
  --bg-dark4: var(--brown-800);
  --border: var(--cloud-400);
  --border-muted: var(--cloud-300);

  --bg: var(--beige-200);

  --text: var(--cloud-900);
  --text-muted: var(--cloud-600);
  --primary: var(--blue-600);
  --danger: var(--red-500);
  --warning: var(--orange-500);
  --success: var(--green-500);
  --info: var(--cloud-500);

  /* --bg-light: oklch(93.4% 0.007 304.2); */
  /* --highlight: oklch(1 0.04 253); */
  /* --secondary: oklch(0.4 0.1 73); */
}

@plugin "../vendor/daisyui-theme" {
  name: "here-now";
  default: false; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
  --color-base-100: var(--beige-100);
  --color-base-200: var(--beige-200);
  --color-base-300: var(--beige-300);
  --color-base-content: var(--cloud-500);
}

@plugin "../vendor/daisyui-theme" {
  name: "here-now-dark";
  default: true; /* set as default */
  prefersdark: false; /* explicit theme only; system mode is resolved in JS */
  color-scheme: dark; /* color of browser-provided UI */
  --color-base-100: var(--brown-600);
  --color-base-200: var(--brown-700);
  --color-base-300: var(--brown-800);
  --color-base-content: var(--beige-300);
}

@plugin "../vendor/daisyui-theme" {
  name: "here-now-dark-blue";
  default: false; /* set as default */
  color-scheme: dark; /* color of browser-provided UI */
  --color-base-100: oklch(45% 0.06 245);
  --color-base-200: oklch(37.5% 0.06 245);
  /* --color-base-300: var(--brown-800); */
  --color-base-content: white;
}

html,
body {
  background: var(--color-base-200);
}

label {
  @apply font-semibold;
}
