@import "./markdown/selection-toolbar.css";

.cm-editor.cm-editor {
  min-height: 4rem;
  @apply bg-base-100 rounded-lg p-2;

  .cm-content {
    font-family: var(--font-family);
    caret-color: color-mix(
      in oklch,
      var(--color-primary-content) 80%,
      transparent
    );
  }

  .cm-tooltip-autocomplete {
    @apply rounded-box bg-base-100 border-secondary/40;
    @apply shadow-lg;
    @apply p-2;
  }

  .cm-tooltip-autocomplete > ul > li {
    font-family: var(--font-family);
    @apply rounded text-xs;
    padding: 0.4rem 0.6rem;
    &[aria-selected="true"] {
      @apply bg-secondary/40;
    }

    &:hover {
      @apply bg-secondary/20;
    }
  }
}

.BLOCK_MARKDOWN {
  @apply space-y-3;
  @apply text-base-content/80;

  a {
    @apply link;
  }

  code {
    @apply rounded bg-base-200 px-1;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
    @apply text-base-content/100;
    &:not(:first-child) {
      @apply mt-12;
    }
  }

  h3 {
    @apply text-lg font-bold;
    @apply text-base-content/80;

    &:not(:first-child) {
      @apply mt-8;
    }
  }

  ol {
    @apply list-decimal pl-6;
  }

  pre {
    @apply overflow-x-auto rounded-box bg-base-200 p-3;
  }

  ul {
    @apply list-disc pl-6;
  }

  img {
    @apply rounded border border-base-200;
  }
}
